
<form action="/products" method="post">
    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Producto</label>
        <input type="text" class="form-control" name="product" id="product" placeholder="Producto">
      </div>
      <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label">Precio</label>
        <input type="number" class="form-control"name="price" id="price" placeholder="Precio">
      </div>
      <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label">Foto</label>
        <input type="file" class="form-control"name="photo" id="photo" placeholder="Foto">
      </div>
      <input type="hidden" name="id" id="id">
  
    <button>Enviar</button>
    </form>