
<head>
<%- include("../partials/head.ejs")-%>
</head>

<body>
    

    <%- include("../partials/chat.ejs")-%>
    <%- include("../partials/formulario.ejs")-%>
    <%- include("../partials/historial.ejs")-%>
    
    
<script src="./js/index.js"></script>
<script type="text/javascript" src="js/materialize.min.js"></script>

</body>